/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}

.wrapper h2 { 
  text-align: center;
  margin-bottom: 0px;
}

.wrapper h3 { 
  text-align: center;
  margin-bottom: 20px;
}


.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box textarea {
  height: 150px;
}

.input-box input::placeholder,
.input-box textarea::placeholder {
  color: #fff;
}

.rating-input {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.rating-input input[type="range"] {
  flex: 1;
  margin-right: 10px;
}

p{
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.success-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50; /* Success green background */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 999;
}
/* App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 420px;
  background: transparent;
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.wrapper h4 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box textarea {
  height: 150px;
}

.input-box input::placeholder,
.input-box textarea::placeholder {
  color: #fff;
}

.star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
}

.star:hover,
.star.filled {
  color: #e8d635;
}

.btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.success-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50; /* Success green background */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 999;
}
